<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TestPersonGet1</servlet-name>
    <servlet-class>begin.chap2.TestPersonGet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPersonGet1</servlet-name>
    <url-pattern>/1testPersonGet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestPersonPost2</servlet-name>
    <servlet-class>begin.chap2.TestPersonPost2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPersonPost2</servlet-name>
    <url-pattern>/2testPersonPost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UseBeanForm1Result</servlet-name>
    <servlet-class>begin.chap3StandardAction.UseBeanForm1Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UseBeanForm1Result</servlet-name>
    <url-pattern>/7UseBeanForm1Result.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>member.model.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/memberList.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>util.filter.MyFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>